.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 50;
}

.mypane{
    -fx-background-image: url("../com.KUAlchemists/images/Board.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: center center;
    -fx-background-color: rgba(19,35,43);
}

.scroll {
    width:100%;
    max-width: 800px;
    height: 262px;
    overflow: auto;
    overflow-x: hidden;
}

.redATextField {
    -fx-text-fill: rgba(142, 6, 6, 1);
}
.blueATextField {
    -fx-text-fill: #3a7caf;
}
