@font-face {
    -fx-font-family: "Caligruf";
    src: url("caligruf-font/Caligruf-BWvDV.ttf");
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 50;
}

.ingredientStrogeBackground{
   -fx-background-image: url("../com.KUAlchemists/images/IngredientStorage/IngredientInventoryBackground.png");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: LEFT CENTER;
    -fx-background-color: rgba(19,35,43);
}

.endorse-Background{
    -fx-background-image: url("../com.KUAlchemists/images/Endorse/endorse-background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

.scroll {
    width:100%;
    max-width: 800px;
    height: 262px;
    overflow: auto;
    overflow-x: hidden;
}



.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;

}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area *.text {
    -fx-text-alignment: center;
}

.redATextField {
    -fx-text-fill: rgba(142, 6, 6, 1);
}

.blueATextField {
    -fx-text-fill: #3a7caf;
}

.loginBackground {
    -fx-background-image: url("../com.KUAlchemists/images/Login/LoginBackground.png");
}

.opac {
    -fx-opacity: 0.5;
}

.debunk{
    -fx-background-image: url("../com.KUAlchemists/images/Debunk/DebunkUI.png");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

.caligruf {
    -fx-font-family: "Caligruf";
}

