.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 50;
}

.mypane{
   -fx-background-image: url("../com.KUAlchemists/images/InventoryStorage(2).jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: right bottom;
    -fx-background-color: rgba(19,35,43);
}

.scroll {
    width:100%;
    max-width: 800px;
    height: 262px;
    overflow: auto;
    overflow-x: hidden;
}



.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;

}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area *.text {
    -fx-text-alignment: center;
}